<!-- MAIN -->
<div class="flex lg:justify-center h-screen">

  <!-- LEFT CONTENT -->
  <div class="w-1/5 pt-16 h-full hidden xl:flex flex-col fixed top-0 left-0">
    <ul class="p-4">
      <li>
        <a
          routerLink="/user"
          class="flex items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg transition-all dark:text-dark-txt dark:hover:bg-dark-third"
        >
          <img
            ngSrc="{{loginAvatar}}"
            alt="Profile picture"
            class="w-10 h-10 rounded-full"
            height="40" width="40"/>
          <span class="font-semibold">Do Chuan</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/friend"
          class="flex items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg transition-all dark:text-dark-txt dark:hover:bg-dark-third"
        ><img
          ngSrc="./assets/images/friends.png"
          alt="Profile picture"
          class="w-10 h-10 rounded-full"
          height="36" width="36"/>
          <span class="font-semibold">Friends</span></a
        >
      </li>
      <li>
        <a
          routerLink="/group"
          class="flex items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg transition-all dark:text-dark-txt dark:hover:bg-dark-third"
        ><img
          ngSrc="./assets/images/group.png"
          alt="Profile picture"
          class="w-10 h-10 rounded-full"
          height="36" width="36"/>
          <span class="font-semibold">Communities</span></a
        >
      </li>
      <li>
        <a
          routerLink="/market"
          class="flex items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg transition-all dark:text-dark-txt dark:hover:bg-dark-third"
        ><img
          ngSrc="./assets/images/marketplace.png"
          alt="Profile picture"
          class="w-10 h-10 rounded-full"
          height="36" width="36"/>
          <span class="font-semibold">Marketplace</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/watch"
          class="flex items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg transition-all dark:text-dark-txt dark:hover:bg-dark-third"
        ><img
          ngSrc="./assets/images/watch.png"
          alt="Profile picture"
          class="w-10 h-10 rounded-full"
          height="36" width="36"/>
          <div class="font-semibold">Watch <br>
            <span class="font-semibold text-sm text-blue-500 justify-between relative">
                  ● 9 new videos
                </span>
          </div>

        </a>
      </li>
      <li>
        <a
          routerLink="/memory"
          class="flex items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg transition-all dark:text-dark-txt dark:hover:bg-dark-third"
        ><img
          ngSrc="./assets/images/memory.png"
          alt="Profile picture"
          class="w-10 h-10 rounded-full"
          height="36" width="36"/>
          <span class="font-semibold">Memories</span></a
        >
      </li>
      <!--<li>
        <a
          routerLink="/more"
          class="flex items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg transition-all dark:text-dark-txt dark:hover:bg-dark-third"
        >
              <span
                class="w-10 h-10 rounded-full grid place-items-center bg-gray-300 dark:bg-dark-second"
              >
                <i class='bx bxs-chevron-down'></i>
              </span>
          <span class="font-semibold">See more</span></a
        >
      </li>-->
      <li class="border-b border-gray-200 dark:border-dark-third mt-6"></li>
    </ul>
    <div class="flex justify-between items-center px-4 h-4 group">
          <span class="font-semibold text-gray-500 text-lg dark:text-dark-txt"
          >Your shortcuts</span
          >
      <span
        class="text-blue-500 cursor-pointer hover:bg-gray-200 dark:hover:bg-dark-third p-2 rounded-md hidden group-hover:inline-block"
      >Edit</span
      >
    </div>
    <ul class="p-4">
      <li>
        <a
          routerLink="/group/1"
          class="flex items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg transition-all dark:text-dark-txt dark:hover:bg-dark-third"
        ><img
          ngSrc="./assets/images/group-img-1.jpg"
          alt="Profile picture"
          class="w-10 h-10 rounded-lg"
          height="50" width="50"/>
          <span class="font-semibold">Programming Philippines</span></a
        >
      </li>
      <li>
        <a
          routerLink="/group/2"
          class="flex items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg transition-all dark:text-dark-txt dark:hover:bg-dark-third"
        ><img
          ngSrc="./assets/images/group-img-2.jpg"
          alt="Profile picture"
          class="w-10 h-10 rounded-lg"
          height="50" width="50"/>
          <span class="font-semibold"
          >Self-Taught Programmers</span
          ></a
        >
      </li>
      <li>
        <a
          routerLink="/group/3"
          class="flex items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg transition-all dark:text-dark-txt dark:hover:bg-dark-third"
        ><img
          ngSrc="./assets/images/group-img-3.jpg"
          alt="Profile picture"
          class="w-10 h-10 rounded-lg"
          height="50" width="50"/>
          <span class="font-semibold">Software Developer (Philippines)</span></a
        >
      </li>
      <li>
        <a
          routerLink="/group/4"
          class="flex items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg transition-all dark:text-dark-txt dark:hover:bg-dark-third"
        ><img
          ngSrc="./assets/images/group-img-4.jpg"
          alt="Profile picture"
          class="w-10 h-10 rounded-lg"
          height="50" width="50"/>
          <span class="font-semibold">BS-IT Student to Professional</span></a
        >
      </li>
      <li>
        <a
          routerLink="/group/5"
          class="flex items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg transition-all dark:text-dark-txt dark:hover:bg-dark-third"
        >
              <span
                class="w-10 h-10 rounded-full grid place-items-center bg-gray-300 dark:bg-dark-second"
              >
                <i class='bx bxs-chevron-down'></i>
              </span>
          <span class="font-semibold">See more</span></a
        >
      </li>
    </ul>
    <div class="mt-auto p-6 text-sm text-gray-500 dark:text-dark-txt">
      <a routerLink="/privacy">Privacy</a>
      <span>.</span>
      <a routerLink="/terms">Terms</a>
      <span>.</span>
      <a routerLink="/advertising">Advertising</a>
      <span>.</span>
      <a routerLink="/choices">Ad Choices</a>
      <span>.</span>
      <a routerLink="/cookies">Cookies</a>
      <span>.</span>
      <a routerLink="more">More</a>
      <span>.</span>
      <span>Meta © 2022</span>
    </div>
  </div>

  <!-- CENTER CONTENT -->
  <div class="w-full lg:w-2/3 xl:w-2/5 pt-32 lg:pt-16  lg:pr-16 xl:pr-8 px-2">

    <!-- STORIES -->
    <div class="relative flex space-x-2 pt-4">

      <div class="w-1/4 sm:w-1/5 h-44 rounded-xl shadow overflow-hidden flex flex-col group cursor-pointer">
        <div class="h-3/5 overflow-hidden">
          <img ngSrc="./assets/images/mystory.png" alt="Profile picture"
               class="group-hover:transform group-hover:scale-110 transition-all duration-700" height="1440"
               width="720">
        </div>
        <div
          class="flex-1 relative flex items-end justify-center pb-2 text-center leading-none dark:bg-dark-second dark:text-dark-txt">
              <span class="font-semibold">
                Create a <br> Story
              </span>
          <div
            class="w-10 h-10 rounded-full bg-blue-500 text-white grid place-items-center text-2xl border-4 border-white dark:border-dark-second absolute -top-5 left-1/2 transform -translate-x-1/2">
            <i class="bx bx-plus"></i>
          </div>
        </div>
      </div>

      <div class="w-1/4 sm:w-1/5 h-44 rounded-xl overflow-hidden">
        <div class="relative h-full group cursor-pointer">
          <img ngSrc="./assets/images/story1.jpg" alt="My Story"
               class="group-hover:transform group-hover:scale-110 transition-all duration-700 h-full w-full"
               height="1440" width="720">

          <div class="w-full h-full bg-black absolute top-0 left-0 bg-opacity-10"></div>
          <span class="absolute bottom-0 left-2 pb-2 font-semibold text-white">
              Your Story
            </span>
          <div class="w-10 h-10 rounded-full overflow-hidden absolute top-2 left-2 border-4 border-blue-500">
            <img ngSrc="{{loginAvatar}}" alt="Shane Del Moira" height="40" width="40">
          </div>
        </div>

        <div class="relative h-full group cursor-pointer">
          <img ngSrc="./assets/images/story2.png" alt="Yor Story"
               class="group-hover:transform group-hover:scale-110 transition-all duration-700 h-full w-full"
               height="1280" width="640">

          <div class="w-full h-full bg-black absolute top-0 left-0 bg-opacity-10"></div>
          <span class="absolute bottom-0 left-2 pb-2 font-semibold text-white">
              Yor Forger
            </span>
          <div class="w-10 h-10 rounded-full overflow-hidden absolute top-2 left-2 border-4 border-blue-500">
            <img ngSrc="./assets/images/sp1.png" alt="Yor Forger" height="40" width="40">
          </div>
        </div>
      </div>

      <div class="w-1/4 sm:w-1/5 h-44 rounded-xl overflow-hidden">
        <div class="relative h-full group cursor-pointer">
          <img ngSrc="./assets/images/story3.png" alt="Neko Story"
               class="group-hover:transform group-hover:scale-110 transition-all duration-700 h-full w-full"
               height="1280" width="640">

          <div class="w-full h-full bg-black absolute top-0 left-0 bg-opacity-10"></div>
          <span class="absolute bottom-0 left-2 pb-2 font-semibold text-white">
              Neko
            </span>
          <div class="w-10 h-10 rounded-full overflow-hidden absolute top-2 left-2 border-4 border-blue-500">
            <img ngSrc="./assets/images/c7.png" alt="Neko" height="40" width="40">
          </div>
        </div>
      </div>

      <div class="hidden sm:inline-block w-1/4 sm:w-1/5 h-44 rounded-xl overflow-hidden">
        <div class="relative h-full group cursor-pointer">
          <img ngSrc="./assets/images/story4.png" alt="Sovieshu Story"
               class="group-hover:transform group-hover:scale-110 transition-all duration-700 h-full w-full"
               height="1280" width="640">

          <div class="w-full h-full bg-black absolute top-0 left-0 bg-opacity-10"></div>
          <span class="absolute bottom-0 left-2 pb-2 font-semibold text-white">
              Sovieshu
            </span>
          <div class="w-10 h-10 rounded-full overflow-hidden absolute top-2 left-2 border-4 border-blue-500">
            <img ngSrc="./assets/images/sp2.png" alt="Sovieshu" height="40" width="40">
          </div>
        </div>
      </div>

      <!--<div
        class="w-12 h-12 rounded-full hidden lg:grid place-items-center text-2xl bg-white absolute -right-6 top-1/2 transform -translate-y-1/2 border border-gray-200 cursor-pointer hover:bg-gray-100 shadow text-gray-500 dark:bg-dark-third dark:hover:bg-dark-fourth dark:border-dark-third dark:text-dark-txt">
        <i class="bx bxs-chevron-right"></i>
      </div>-->

    </div>

    <!-- POST FORM -->
    <app-post-form [loginAvatar]="loginAvatar" [userName]="userName" (reRenderParent)="reRenderData()"/>

    <!-- MY POSTS -->
    <div>
      <div class="shadow bg-white dark:bg-dark-second dark:text-dark-txt mt-4 rounded-lg"
           *ngFor="let post of postList">

        <div class="flex items-center justify-between px-4 py-2">
          <div class="flex space-x-2 items-center">
            <div class="relative">
              <img ngSrc="{{post.user.avatar}}" alt="Profile picture" class="w-10 h-10 rounded-full cursor-pointer"
                   height="40" width="40">
              <span class="bg-green-500 w-3 h-3 rounded-full absolute right-0 top-3/4 border-white border-2"></span>
            </div>
            <div>
              <div class="font-semibold hover:underline">
                {{post.user.name}}</div>
              <span class="text-sm text-gray-500 font-semibold hover:underline">{{convertDate(post.postTime)}}
                <i *ngIf="post.status=='PUBLIC'">
                <i
                  class='bx bx-globe'></i>Public
              </i>
                <i *ngIf="post.status=='FRIEND'">
                <i
                  class='bx bx-friend'></i>Friend
              </i>
                <i *ngIf="post.status=='PRIVATE'">
                <i
                  class='bx bx-globe'></i>Private
              </i>
                </span>
            </div>

          </div>
          <div
            class="w-8h-8 grid place-items-center text-xl text-gray-500  hover:bg-gray-200 dark:text-dark-txt dark:hover:bg-dark-third rounded-full cursor-pointer">
            <i class="bx bx-dots-horizontal-rounded"></i>
          </div>
        </div>

        <!-- CAPTION -->
        <div class="text-justify px-4 py-2">
          {{post.content}}
        </div>

        <!-- CAPTION -->
        <div
        class="row justify-content-start">
          <div  *ngFor="let image of post.images">
            <img ngSrc="{{image.urlImage}}" alt="Bootstrap Website post" height="624" width="624"
                 class="col-lg-5 col-md-12"
                 style="border: black solid 1px;border-radius: 10px;margin-bottom: 10px; width: 100%">
          </div>
        </div>

        <!-- REACTS -->
        <div class="px-4 py-2">
          <div class="flex items-center justify-between text-xs sm:text-lg ">
            <div class="flex flex-row-reverse items-center">
              <span class="ml-2 text-gray-500 dark:text-dark-txt hover:underline">{{post.likes.length}} Likes</span>
              <span class="rounded-full grid place-items-center -ml-1 w-4 h-4 sm:w-7 sm:h-7 cursor-pointer">
                         <img ngSrc="./assets/images/like.png" alt="Heart emoji" height="24" width="24">
                       </span>
            </div>
            <div class="text-gray-500 drak:text-dark-txt ">
              <span class="hover:underline">{{post.comments.length}} comments</span>
            </div>
          </div>
        </div>

        <!-- ACTION -->
        <div class="py-4 px-4">
          <div class="border border-gray-200 dark:border-dark-third border-l-0 border-r-0 py-1">
            <div class="flex space-x-2">
              <div
                (click)="likePost(post.id)"
                *ngIf="checkLikeStatus(post)"
                style="color: #0d2be8;font-weight: 1000"
                class="w-1/3 flex space-x-2 justify-center items-center hover:bg-gray-100 dark:hover:bg-dark-third text-xl py-2 rounded-lg cursor-pointer text-gray-500 dark:text-dark-txt">
                <i class="bx bx-like"></i>
                <span style="font-size: medium" class="text-sm font-semibold">Like</span>
              </div>
              <div
                (click)="likePost(post.id)"
                *ngIf="!checkLikeStatus(post)"
                class="w-1/3 flex space-x-2 justify-center items-center hover:bg-gray-100 dark:hover:bg-dark-third text-xl py-2 rounded-lg cursor-pointer text-gray-500 dark:text-dark-txt">
                <i class="bx bx-like"></i>
                <span class="text-sm font-semibold">Like</span>
              </div>
              <div
                class="w-1/3 flex space-x-2 justify-center items-center hover:bg-gray-100 dark:hover:bg-dark-third text-xl py-2 rounded-lg cursor-pointer text-gray-500 dark:text-dark-txt">
                <i class="bx bx-comment"></i>
                <span class="text-sm font-semibold">Comment</span>
              </div>
              <div
                class="w-1/3 flex space-x-2 justify-center items-center hover:bg-gray-100 dark:hover:bg-dark-third text-xl py-2 rounded-lg cursor-pointer text-gray-500 dark:text-dark-txt">
                <i class="bx bx-share bx-flip-horizontal"></i>
                <span class="text-sm font-semibold">Share</span>
              </div>
            </div>
          </div>
        </div>

        <!-- COMMENTS -->
        <div class="py-2 px-4">

          <!-- List Comment -->
          <div class="flex space-x-2" *ngFor="let comment of post.comments"
          >

            <img ngSrc="{{comment.user.avatar}}" alt="Profile picture" class="w-9 h-9 rounded-full cursor-pointer"
                 height="40" width="40">
            <div style="width: 100%">
              <div class="bg-gray-100 dark:bg-dark-third p-2 rounded-2xl text-sm">
                <span class="font-semibold block hover:underline">{{comment.user.name}}</span>
                <span style="display: inline-block;"> {{comment.comment}}</span>
              </div>
              <div class="p-2 text-xs text-gray-500 dark:text-dark-txt">
                <span class="font-semibold hover:underline ">Like</span>
                <span class="font-semibold hover:underline pl-4">Reply</span>
                <span class="font-semibold hover:underline pl-4">1w</span>
              </div>
            </div>
          </div>

          <!-- POST comment -->
      <app-comment-form [postId]="post.id" [loginAvatar]="loginAvatar" [userName]="userName" (reRenderParent)="reRenderData()"/>

        </div>
      </div>
    </div>

    <!-- LOAD MORE -->
    <div class="shadow bg-white dark:bg-dark-second dark:text-dark-txt mt-4 rounded-lg"
         style="text-align: center"
    >
      <button class="btn btn-primary"
              style="width: 100%"
              (click)="loadModePost()"
              *ngIf="loadAble"
      >Load more
      </button>
      <button class="btn btn-danger"
              style="width: 100%"
              *ngIf="!loadAble"
      >End of Posts
      </button>
    </div>
  </div>


  <!-- RIGHT -->
  <div class="lg:w-1/5 pt-16 h-full hidden lg:block px-4  fixed top-0 right-0">
    <div class="h-full">
      <div class="flex justify-between items-center xl:px-4 pt-4 group">
          <span class="font-semibold text-gray-500 xl:text-lg text-sm dark:text-dark-txt"
          >Friend requests</span
          >
        <span
          class="text-blue-500 cursor-pointer xl:text-lg text-sm hover:bg-gray-200 dark:hover:bg-dark-third p-2 rounded-md"
        >See all</span
        >
      </div>
      <div class="p-2">
        <div
          class="flex items-center space-x-4 p-2 hover:bg-gray-200 dark:hover:bg-dark-third rounded-lg transition-all">
          <img ngSrc="./assets/images/add.png" alt="Profile picture" class="w-16 h-16 rounded-full" height="40"
               width="40">
          <div class="flex-1 h-full">
            <div class="dark:text-dark-txt">
              <a routerLink="/user/1">
                <span class="font-semibold">Yeshua</span>
              </a>
              <span class="float-right">1d</span>
            </div>
            <div class="flex space-x-2 mt-2">
              <div class="w-1/2 bg-blue-500 cursor-pointer py-1 text-center font-semibold text-white rounded-lg">
                Confirm
              </div>
              <div
                class="w-1/2 bg-gray-300 cursor-pointer py-1 text-center font-semibold text-black dark:text-dark-txt dark:bg-dark-fourth rounded-lg">
                Delete
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="border-b border-gray-200 dark:border-dark-third mt-6"></div>

      <!-- CONTACTS -->
      <div class="flex justify-between items-center px-4 pt-4 text-gray-500 dark:text-dark-txt">
        <span class="font-semibold text-lg">Contacts</span>
        <div class="flex space-x-1">
          <div
            class="w-8 h-8 grid place-items-center text-xl hover:bg-gray-200 dark:hover:bg-dark-third rounded-full cursor-pointer">
            <i class='bx bxs-video-plus'></i>
          </div>
          <div
            class="w-8 h-8 grid place-items-center text-xl hover:bg-gray-200 dark:hover:bg-dark-third rounded-full cursor-pointer">
            <i class="bx bx-search-alt-2"></i>
          </div>
          <div
            class="w-8 h-8 grid place-items-center text-xl hover:bg-gray-200 dark:hover:bg-dark-third rounded-full cursor-pointer">
            <i class="bx bx-dots-horizontal-rounded"></i>
          </div>
        </div>
      </div>

      <!-- LIST CONTACTS -->
      <ul class="p-2">

        <li>
          <div
            class="flex items-center space-x-4 p-2 hover:bg-gray-200 dark:hover:bg-dark-third dark:text-dark-txt rounded-lg cursor-pointer">
            <div class="relative">
              <img ngSrc="./assets/images/c3.png" alt="Online Friend" class="rounded-full" height="40" width="40">
              <span class="bg-green-500 w-3 h-3 rounded-full absolute right-0 top-3/4 border-white border-2"></span>
            </div>
            <div>
              <span class="font-semibold">Mark Zuckerberg</span>
            </div>
          </div>
        </li>

        <li>
          <div
            class="flex items-center space-x-4 p-2 hover:bg-gray-200 dark:hover:bg-dark-third dark:text-dark-txt rounded-lg cursor-pointer">
            <div class="relative">
              <img ngSrc="./assets/images/c2.png" alt="Online Friend" class="rounded-full" height="40" width="40">
              <span class="bg-green-500 w-3 h-3 rounded-full absolute right-0 top-3/4 border-white border-2"></span>
            </div>
            <div>
              <span class="font-semibold">Doge</span>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>
