<!-- char-area -->
<section class="message-area" >
  <div class="container" style="margin: 20px auto 0;">
    <div class="row">
      <div class="col-12">
        <div class="chat-area">
          <!-- chat-List-Group -->
          <div class="chatlist">
            <div class="modal-dialog-scrollable">
              <div class="modal-content">
                <div class="chat-header">
                  <div class="msg-search">
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search"
                           aria-label="search">
                    <a class="add" href="#"><img class="img-fluid"
                                                 src="https://mehedihtml.com/chatbox/assets/img/add.svg" alt="add"></a>
                  </div>

                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="Open-tab" data-bs-toggle="tab" data-bs-target="#Open"
                              type="button" role="tab" aria-controls="Open" aria-selected="true">Chat List
                      </button>
                    </li>
                  </ul>
                </div>

                <div class="modal-body">
                  <!-- chat-list -->
                  <div class="chat-lists">
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="Open" role="tabpanel" aria-labelledby="Open-tab">
                        <!-- chat-list -->
                        <div class="chat-list">
                          <a routerLink="/chat/session/{{chat.id}}" class="d-flex align-items-center"
                             *ngFor="let chat of chatList">
                            <div class="flex-shrink-0" *ngIf="checkTargetChat(chat)==1">
                              <img class="img-fluid" src="{{chat.respUser?.avatar}}"
                                   height="45px" width="45px"
                                   alt="user img"
                              >
                              <span class="active"></span>
                            </div>
                            <div class="flex-grow-1 ms-3" *ngIf="checkTargetChat(chat)==1">
                              <h3>{{chat.respUser?.name}}</h3>
                            </div>

                            <div class="flex-shrink-0" *ngIf="checkTargetChat(chat)==2">
                              <img class="img-fluid" src="{{chat.sentUser?.avatar}}"
                                   height="45px" width="45px"
                                   alt="user img"
                              >
                              <span class="active"></span>
                            </div>
                            <div class="flex-grow-1 ms-3" *ngIf="checkTargetChat(chat)==2">
                              <h3>{{chat.sentUser?.name}}</h3>
                            </div>
                          </a>

                        </div>
                        <!-- chat-list -->
                      </div>
                    </div>

                  </div>
                  <!-- chat-list -->
                </div>
              </div>
            </div>
          </div>
          <!-- chat-List-Group -->

          <!-- chat-box -->
          <div class="chatbox">
            <div class="modal-dialog-scrollable">
              <div class="modal-content" *ngIf="chatId!=undefined">

                <!--Chat Box Header-->
                <div class="msg-head">
                  <div class="row">
                    <div class="col-8">
                      <div class="d-flex align-items-center">
                        <span class="chat-icon"><img class="img-fluid"
                                                     src="https://mehedihtml.com/chatbox/assets/img/arroleftt.svg"
                                                     alt="image title"></span>
                        <div class="flex-shrink-0">
                          <img class="img-fluid" src="https://mehedihtml.com/chatbox/assets/img/user.png"
                               alt="user img">
                        </div>
                        <div class="flex-grow-1 ms-3">
                          <h3>Mehedi Hasan</h3>
                          <p>front end developer</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <ul class="moreoption">
                        <li class="navbar nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                             aria-expanded="false">Delete</a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                              <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="modal-body">
                  <div class="msg-body">
                    <!--Content Chat Detail-->
                    <ul>
                      <div *ngFor="let detail of chatDetail">
                        <li class="sender" *ngIf="detail.user?.id!=user?.id">
                          <p> {{detail.content}} </p>
                          <span class="time">{{convertDate(detail.sentTime)}}</span>
                        </li>
                        <li class="repaly" *ngIf="detail.user?.id==user?.id">
                          <p> {{detail.content}}</p>
                          <span class="time">{{convertDate(detail.sentTime)}}</span>
                        </li>
                      </div>
                    </ul>
                  </div>
                </div>

                <div class="send-box">
                  <form #f="ngForm" (ngSubmit)="f.form.valid&& sendMessage()" [formGroup]="chatForm">
                    <input
                      formControlName="content"
                      type="text" class="form-control" aria-label="message…" placeholder="Write message…" [value]="chatForm.value.content">
                    <button type="submit">Send Message</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- chat-box -->

      </div>
    </div>
  </div>
</section>
<!-- char-area -->

<!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
