<div class="py-2 sm:px-4">
  <div class="flex ">
    <img ngSrc="{{loginAvatar}}" alt="Profile picture" class="w-9 h-9 rounded-full cursor-pointer"
         height="40" width="40">
    <div class="flex-1 flex bg-gray-100 dark:bg-dark-third rounded-full items-center justify-between px-3">
      <input type="text" placeholder="Write a comment..."
             class="outline-none bg-transparent flex-1 text-xs sm:text-sm"
             style="width: 100%;cursor: pointer"
             readonly
             (click)="openDialog()">
      <div class="flex space-x-0 items-center justify-center">
                        <span
                          class="sm:w-7 sm:h-7 grid place-items-center rounded-full hover:bg-gray-200 cursor-pointer text-gray-500 dark:text-dark-txt dark:hover:bg-dark-second text-xl"><i
                          class="bx bx-smile"></i></span>
        <span
          class="sm:w-7 sm:h-7 grid place-items-center rounded-full hover:bg-gray-200 cursor-pointer text-gray-500 dark:text-dark-txt dark:hover:bg-dark-second text-xl"><i
          class="bx bx-camera"></i></span>
        <span
          class="sm:w-7 sm:h-7 grid place-items-center rounded-full hover:bg-gray-200 cursor-pointer text-gray-500 dark:text-dark-txt dark:hover:bg-dark-second text-xl"><i
          class="bx bxs-file-gif"></i></span>
        <span
          class="sm:w-7 sm:h-7 grid place-items-center rounded-full hover:bg-gray-200 cursor-pointer text-gray-500 dark:text-dark-txt dark:hover:bg-dark-second text-xl"><i
          class='bx bx-sticker'></i></span>
      </div>
    </div>
  </div>
</div>
