<style>
  th, td {
    text-align: center !important
  }
</style>

<app-admin-navbar/>

<div class="container">
  <div class="row" style="margin-top: 5px">
    <mat-error class="alert alert-primary">{{status}}</mat-error>
    <div class="col-12" style="margin-top: 30px; margin-bottom: 20px">
      <mat-card style="margin: 0">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id</th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="userName">
              <th mat-header-cell *matHeaderCellDef> User Name</th>
              <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name</th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email</th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef> Role</th>
              <td mat-cell *matCellDef="let element">
                <span *ngFor="let role of element.roles">{{role.roleName}}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status</th>
              <td mat-cell *matCellDef="let element">
                <span *ngIf="!element.status">Active</span>
                <span *ngIf="element.status">Blocked</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef style=""> Action</th>
              <td mat-cell *matCellDef="let element">
                <button class="btn btn-primary"
                        *ngIf="role=='ADMIN'"
                        (click)="ChangeRole(element)">Role
                </button>
                <button class="btn btn-dark" (click)="BlockUser(element)">Block</button>
                <button class="btn btn-danger" (click)="DeleteUser(element)">Delete</button>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                         showFirstLastButtons
                         aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
      </mat-card>
    </div>
  </div>
</div>
