<section>
  <div class="login-box">
    <form action="" [formGroup]="form" #f="ngForm" (ngSubmit)="f.form.valid && loginSubmit()">
      <h2>Login</h2>
      <mat-error style="text-align: center;display: block">{{status}}</mat-error>
      <div class="input-box">
                <span class="icon" style="display: inline-block;padding-top: 17px">
                    <!--"<ion-icon name="mail"></ion-icon>"-->
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
            <style>svg {
              fill: #f5f8ff
            }</style><path
                      d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
                </span>
        <input type="text" required maxlength="10" formControlName="userName">
        <label>User Name</label>
        <mat-error *ngIf="form.controls.userName.hasError('required')">This field is not Empty</mat-error>
      </div>

      <div class="input-box">
        <span class="icon" style="display: inline-block;padding-top: 17px">
                    <!--<ion-icon name="lock-closed"></ion-icon>-->
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                    <style>svg {
                      fill: #f5f8ff
                    }</style><path
            d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"/></svg>
                </span>
        <input type="password" required formControlName="password">
        <label>Password</label>
        <mat-error *ngIf="form.controls.password.hasError('required')">This field is not Empty</mat-error>
      </div>

      <div class="remember-forgot">
        <label><input type="checkbox"> Remember me</label>
        <a routerLink="/forgot-password">Forgot Password</a>
      </div>

      <button type="submit">Login</button>
      <div class="register-link">
        <p>Don't have an account? <a routerLink="/register">Register</a></p>
      </div>
    </form>
  </div>
</section>
